@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: rgb(43, 153, 180);
    margin:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    place-items:center;
}

h1{
    margin:0; 
    padding:2rem;
    font-size:4rem;
    font-family: "Roboto";
    color:aqua;
    text-align: center;
}

p{
    font-size: 1.5rem;
    font-family: "Roboto";
    color:white
}

.boks{
    border:8px solid whitesmoke;
    width: 50vw;
    padding: 2rem;
}