@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Roboto";
    color: white;
}


body{
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    height: 100vh;
    background-color: grey;
    width: 100vw;
}



#timer{
    display: grid;
    justify-content: end;
    align-items: end;
    background-color: purple;
    height: 100%;
    padding: 1rem;
    transition: all ease-in-out .6s;
    border-top-right-radius: 2rem;
    
}

#min{
    display: grid;
    justify-content: end;
    align-items: end;
    background-color: yellowgreen;
    height: 100%;
    transition: all ease-in-out .6s;
    border-top-right-radius: 2rem;
    padding: 1rem;
}

#sek{
    display: grid;
    justify-content: end;
    align-items: end;
    background-color: turquoise;
    height: 100%;
    transition: all ease-in-out .6s;   
    border-top-right-radius: 2rem;
    padding: 1rem;
}