@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: rgb(124, 45, 43);
}

header{
    height: 30rem;
    color: rgb(59, 110, 127);
    font-size: 3rem;
    gap: 10rem;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 5rem;
    gap: 10rem;
    background-color: rgb(52, 48, 45 );
    width: 90%;
    place-items: center;
    position: absolute;
    left: 6rem;
    border-radius: 2rem;
    border: solid .75rem rgb(189, 59, 59);
}

#banan{
    background-color: rgb(130, 50, 50);
    border-radius: 2rem;
    width: 75rem;
    height: 9rem;
    margin-top: 2rem;
    border: .25rem solid black;
}

/* cum burger */

#video{
    margin: 3rem;
    border: .40rem solid gray;
}

.door{
    background-color: seagreen;
    background-size: cover;
    position: relative;

}

h1{
    margin: 0 auto;
}



.lock{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(91, 122, 140);
    display: grid;
    place-items: center;
    font-size: 4rem;
    z-index: 5;
    transition: 1s ease-in-out;
    border: solid 0.5rem black;
    border-radius: 1rem
}

.open{
    animation-name: pen;
    transform-origin: 0% 50%;
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
    background-color: rgb(91, 122, 140);
    transform: left;
    animation: pen 3s forwards ease-in-out;
}

@keyframes sovs {
    40%{
        background-color: yellow;
        width: 0;
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        width: 100%;
        background-color: yellow;
    }
}

@keyframes epic {
    20%{
        background-color: purple;
        transform: rotate(90deg);
    }
    60%{
        background-color: hotpink;
        transform: scale(0.001%);
    }
    100%{
        
    }
}


@keyframes legendary{
    45%{
        background-color: greenyellow;
        
    }
    75%{
        transform: rotate(180deg);
    }
    100%{
        
    }
}

.cum{
    animation: legendary 3s forwards ease-in-out;
}

.goldenopen{
    animation: epic 3s forwards ease-in-out;
}

.sovsjohn{
    animation: sovs 3s forwards ease-in-out;
}